.datamap{
  left: 0;

  &.de_federal_states{
    width: 65%;
    height: 100%;
    margin: 0 auto;
    max-height: 600px;
    max-width: 500px;

    .datamaps-subunit,
    .datamaps-subunit-label,
    .datamaps-bubble-label{
      cursor: pointer;
    }
  }

  .stateLabels{
    pointer-events: none;
  }
}

